section.repository-list {
  margin: 40px;

  h1 {
    margin-bottom: 16px;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    li {
      background: #f2f2f2;
      padding: 2rem;
      width: 28rem;
      height: 14rem;
      border-radius: 12px;
      margin-bottom: 12px;

      strong {
        font-size: 24px;
      }

      p {
        font-size: 14px;
        color: #444;
        margin-top: 8px;
      }

      a {
        display: inline-block;
        margin-top: 16px;
        text-decoration: none;
        color: #8257e6;
      }
    }
  }
}
